name: dudect
on:
  push:
    branches:
      - master 
  schedule:
    - cron: '0 0 * * 0' # Midnight of each sunday

permissions:
  contents: read

jobs:
  tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          persist-credentials: false
      
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
      
      - name: -C opt-level = 1
        run: sh run_benches_release.sh opt-level=1

      - name: -C opt-level = 2
        run: sh run_benches_release.sh opt-level=2

      - name: -C opt-level = 3
        run: sh run_benches_release.sh opt-level=3